.header {
  height: 120px;
  background: linear-gradient(0, #fe6433, #f53e2d);
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-list {
  list-style-type: none;
}

.navbar-item {
  display: inline-block;
  font-size: 1rem;
  color: var(--white-color);
  font-weight: 300;
  padding: 0.5rem;
  position: relative;
}

.navbar-item-link {
  text-decoration: none;
  color: var(--white-color);
}

.navbar-item--hover:hover {
  opacity: 0.7;
  cursor: pointer;
}

.navbar-item--strong {
  font-weight: 400;
}

.navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 1rem;
  background: #fb9086;
  top: 0.5rem;
  right: 0;
}

.navbar__link--show:hover .navbar__link {
  display: block;
}

.navbar__link {
  width: 10rem;
  position: absolute;
  left: 0.5rem;
  top: 2rem;
  background: var(--white-color);
  border-radius: 1px;
  padding: 0.25rem;
  display: none;
  transform-origin: top left;
  animation: fadeIn ease 0.5s;
}

.navbar__link-QR img {
  width: 100%;
}

.navbar__link-apps {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.navbar__link-apps img {
  width: 45%;
}

.navbar__log--show-noti:hover .navbar__noti {
  display: flex;
}

.navbar__noti {
  display: none;
  width: 35rem;
  max-height: 20rem;
  position: absolute;
  top: 2rem;
  right: 0.5rem;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  flex-direction: column;
  transform-origin: top right;
  animation: fadeIn ease 0.5s;
}

.navbar__noti::before {
  content: "";
  border-width: 20px 30px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 12px;
  top: -29px;
}

.navbar__noti::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -9px;
  width: 6rem;
  height: 0.5rem;
}

.noti__header {
  flex: 1 1;
  height: 3rem;
  display: flex;
  align-items: center;
}

.noti__header-title {
  color: var(--text-color);
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  cursor: default;
}

.noti__container {
  flex: 9 9;
  overflow-y: auto;
}

.noti__item {
  background: var(--primary-color-light);
  display: flex;
  align-items: center;
}

.noti__list a:visited .noti__item {
  background: #fff;
}

.noti__img {
  flex: 1rem;
}

.noti__img img {
  width: 100%;
  height: auto;
}

.noti__content {
  color: var(--black-color);
  flex: 6;
  display: flex;
  flex-direction: column;
}

.noti__content-title {
  padding: 0.25rem 0;
  font-weight: 500;
}

.noti__content-desc {
  padding: 0.25rem 0;
  opacity: 0.8;
  font-size: 0.85rem;
}

.noti__footer {
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.noti__footer a {
  color: var(--black-color);
  text-decoration: none;
  font-weight: 500;
}

.modal__inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.auth-form {
  width: 500px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth-form__switch-btn {
  border: none;
  background-color: var(--white-color);
  padding: 0;
}

.auth-form__switch-btn span {
  color: var(--primary-color);
  font-weight: 900;
}

.auth-form__input {
  width: 100%;
  border-radius: 2px;
  border: 1px solid var(--boder-color);
  outline: none;
}

.auth-form__input:focus {
  border-color: #777;
}

.auth-form__Terms {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.auth-form__policy-text a span {
  color: var(--primary-color);
  justify-items: center;
}

.auth-form__controls {
  display: flex;
  justify-content: flex-end;
}

.auth-socials {
  background: #ddd;
}

.btn--facebook {
  background-color: var(--facebook-color);
  color: var(--white-color);
}

.btn--facebook:hover {
  background-color: var(--facebook-color);
  opacity: 0.4;
}

.btn--google {
  color: var(--text-color);
}
